<div class="container">
  <h1>Theatre Details</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Theatre Name</th>
        <th scope="col">Theatre Seats</th>
        <th scope="col">Ticket Price</th>
        <th scope="col">Action</th>
        <th scope="col">🗑</th>
      </tr>
    </thead>
    <tbody>
      
      
      <tr>
        <th scope="row">1</th>
        <td>PVR</td>
        <td>100</td>
        <td>250</td>
        <td><a href="/edit-theatre/{{this.id}}">Edit</a></td>
        <td><a href="/delete-theatre/{{this.id}}" data-theatreId="{{this.id}}" class="delete-button">Delete</a></td>
      </tr>
      
    </tbody>
  </table>
  <a class="btn btn-primary btn-lg" href="/add-theatre">Add Theatre</a>
</div>
<script>
  window.document.body.addEventListener("click", event => {
    const $targetElement = event.target;
    if ($targetElement.classList.contains("delete-button")) {
      event.preventDefault();
      const studentId = $targetElement.getAttribute("data-theatreId");

      const config = {
        method: "DELETE",
      }

      fetch("/api/students/" + studentId, config)
        .then(response => {
          if (response.status === 200) {
            return response.json()
          } else {
            throw (new Error(response.status))
          }
        })
        .then(data => {
          alert(data.message);
          window.location.reload();
        })
        .catch(error => {
          switch (error.message) {
            case "400":
              alert("Please check form values...");
              break;
            case "500":
              alert("Please Try after some time...");
              break;
            default:
              console.error(error);
          }
        })
    }
  })
</script>